<app-navconfig></app-navconfig>
<div class="container pt-2">
    <div class="row justify-content-center align-items-baseline">
        <img [src]="iconCarga" class="pt-3">
        <h4><label class="texto-general mb-2" style="text-align: center;"><b>Carga de Documentos PDF</b></label></h4>
    </div>
    <hr>
    <div class="row">
        <div class="col-sm-12" style="text-align: center;">
            <img [src]="iconPdf" class="mb-2" style="width: 5%;"> <label class="texto-general" style="text-align: center;"><b>Aclaraciones</b></label>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6" style="text-align: center;">
            <label class="label-file" for="formFile">Seleccionar Archivo</label>
            <input type="file"  id="formFile" accept="pdf/*">
        </div>
        <div class="col-sm-6 pt-4" style="text-align: center;">
            <button class="btn btn-success btn-border" style="background-color: #00c851 !important;" (click)="onSubmit()">Guardar Archivo</button>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-sm-12" style="text-align: center;">
            <img [src]="iconPdf" class="mb-2" style="width: 5%;"> <label class="texto-general" style="text-align: center;"><b>Competencia</b></label>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6" style="text-align: center;">
            <label class="label-file" for="formFile">Seleccionar Archivo</label>
            <input type="file"  id="formFile" accept="pdf/*">
        </div>
        <div class="col-sm-6 pt-4" style="text-align: center;">
            <button class="btn btn-success btn-border" style="background-color: #00c851 !important;" (click)="onSubmit()">Guardar Archivo</button>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-sm-12" style="text-align: center;">
            <img [src]="iconPdf" class="mb-2" style="width: 5%;"> <label class="texto-general" style="text-align: center;"><b>Guía Operativa</b></label>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6" style="text-align: center;">
            <label class="label-file" for="formFile">Seleccionar Archivo</label>
            <input type="file"  id="formFile" accept="pdf/*">
        </div>
        <div class="col-sm-6 pt-4" style="text-align: center;">
            <button class="btn btn-success btn-border" style="background-color: #00c851 !important;" (click)="onSubmit()">Guardar Archivo</button>
        </div>
    </div>
</div>