<app-navconfig></app-navconfig>
<div class="container-xxl pt-2">
    <div class="row pt-3">
        <div class="col"></div>
        <div class="col">
            <table class="table small" style="border-radius: 20px;">
                <thead>
                    <tr style="background-color: #056DAE; color: white;">
                        <th>Título</th>
                        <th>Detalle</th>
                        <th>Editar</th>
                    </tr>
                </thead>
                <tbody>
                    <tr style="background-color: white; color: #056DAE;">
                        <td>¡Atención Sucursales!</td>
                        <td>Alguna Descripción</td>
                        <td><a type="button" class="btn btn-primary btn-sm m-1 btn-border" (click)="abrirmodal()">Editar</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col"></div>
    </div>
    <div class="row pt-2" style="text-align: center;">
        <div class="col-sm-12">
            <h4>REPORTE DE {{titulo}}</h4>
        </div>
    </div>
    <div class="row pt-2">
        <div class="col"></div>
        <div class="col-4">
            <div class="input-group mb-3">
                <span class="input-group-text">Fecha Inicio</span>
                <input type="date" class="form-control">
            </div>
        </div>
        <div class="col-4">
            <div class="input-group mb-3">
                <span class="input-group-text">Fecha Fin</span>
                <input type="date" class="form-control">
            </div>
        </div>
        <div class="btn-group col-sm-2 mb-4" style="text-align: center;">
            <button type="button" class="btn btn-success btn-sm m-1 btn-border" (click)="buscaRegistros()">Buscar Registros</button>
        </div>
        <div class="col"></div>
    </div>
    <app-modal [active]="active" (envio)="cerrarPopup()" [size]="'g'">
        <div class="modal-header">
            <h3 class="modal-title" style="margin: 0;">
                <b>Edición</b>
            </h3>
            <button type="button" class="close" data-dismiss="modal" arial-label="Cerrar" (click)="cerrarPopup()">
                <span class="m-1" aria-hidden="true">x</span>
            </button>
        </div>
        <div class="contModal pt-2">
            <form [formGroup]="form" class="contModal small">
                <div class="form-group row mb-2">
                    <div class="col-sm-12">
                        <div class="input-group mb-3">
                            <span class="input-group-text">Título</span>
                            <input type="text" class="form-control">
                        </div>
                    </div>
                </div>
                <div class="form-group row mb-2">
                    <div class="col-sm-12">
                        <div class="input-group mb-3">
                            <span class="input-group-text">Descripción</span>
                            <textarea type="text" class="form-control"></textarea>
                        </div>
                    </div>
                </div>
            </form>
            <div class="botones-modal pt-4">
                <button class="col-4 btn btn-success btn-border m-2" style="background-color: #00c851 !important;" (click)="submit()">Actualizar</button>
                <button class="col-4 btn btn-danger btn-border m-2" (click)="cerrarPopup()">Cancelar</button>
            </div>
        </div>
    </app-modal>
</div>
<div [ngStyle]="{'display': (showDataGrid) ? 'block' : 'none'}">
    
    <!-- Cabecera de tabla -->
    <div class="row">
        <div class="col-sm-12">
            <div class="row">
                <div class="col-sm-12">
                    <div class="row d-flex justify-content-center">
                        <button class="btn d-flex justify-content-center"><i
                                class="fas fa-step-backward  d-flex align-items-center"></i></button>
                        <button class="btn d-flex justify-content-center"><i
                                class="fas fa-arrow-circle-left d-flex align-items-center"></i></button>
                        <input type="text" id="uno" class="form-control col-sm-1 text-center" placeholder="1">
                        <label class="d-flex align-items-center pb-2"> &nbsp; de {{ numeroPaginas }} </label>
                        <button class="btn d-flex justify-content-center"><i
                            class="fas fa-arrow-alt-circle-right d-flex align-items-center"></i></button>
                        <button class="btn d-flex justify-content-center"><i
                                class="fas fa-step-forward d-flex align-items-center"></i></button>
                        <div class="col-sm-2">
                            <div class="form-group">
                                <select class="form-control" id="exampleFormControlSelect1">
                                    <option>100%</option>
                                    <option>2</option>
                                    <option>3</option>
                                    <option>4</option>
                                    <option>5</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-2 d-flex justify-content-center">
                            <div class="form-group d-flex align-items-center">
                                <input type="text" class="form-control">
                            </div>
                        </div>
                        <div class="col-sm-1 d-flex justify-content-start" >
                                <a href="#" class="mt-2">Find &nbsp;</a> <b class="mt-2">|</b> &nbsp; <a href="#" class="mt-2"> Next</a>
                        </div>
                        <div class="col-sm-2 d-flex justify-content-start">
                            <button class="btn">
                                <i class="fas fa-save d-flex align-items-center"></i>
                            </button>
                            <button class="btn">
                                <i class="fas fa-redo"></i>
                            </button>
                            <button class="btn">
                                <i class="fas fa-print d-flex align-items-center"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--  -->
    <div class="row">
        <div class="table-over">
            <div class="layout">
                <div class="over">
                    <table class="table table-striped">
                        <thead class="table-header" style="background-color: #056DAE; color: white;">
                            <tr>
                                <th scope="col">{{columnHeader.fecha}}</th>
                                <th scope="col">{{columnHeader.numerocliente}}</th>
                                <th scope="col">{{columnHeader.contrato}}</th>
                                <th scope="col">{{columnHeader.tasa}}</th>
                                <th scope="col">{{columnHeader.plazo}}</th>
                                <th scope="col">{{columnHeader.monto}}</th>
                                <th scope="col">{{columnHeader.soeid}}</th>
                                <th scope="col">{{columnHeader.nomina}}</th>
                                <th scope="col">{{columnHeader.rol}}</th>
                                <th scope="col">{{columnHeader.ejecutivo}}</th>
                                <th scope="col">{{columnHeader.sirh}}</th>
                                <th scope="col">{{columnHeader.gatnominal}}</th>
                                <th scope="col">{{columnHeader.gatreal}}</th>
                                <th scope="col">{{columnHeader.rendimientos}}</th>
                                <th scope="col">{{columnHeader.oferta}}</th>
                                <th scope="col">{{columnHeader.campania}}</th>
                            </tr>
                        </thead>
                        <tbody class="mat-body">
                            <tr *ngFor="let item of tableData">
                                <td>{{item.fecha}}</td>
                                <td>{{item.numerocliente}}</td>
                                <td>{{item.contrato}}</td>
                                <td>{{item.tasa}}</td>
                                <td>{{item.plazo}}</td>
                                <td>{{item.monto}}</td>
                                <td>{{item.soeid}}</td>
                                <td>{{item.nomina}}</td>
                                <td>{{item.rol}}</td>
                                <td>{{item.ejecutivo}}</td>
                                <td>{{item.sirh}}</td>
                                <td>{{item.gatnominal}}</td>
                                <td>{{item.gatreal}}</td>
                                <td>{{item.rendimientos}}</td>
                                <td>{{item.oferta}}</td>
                                <td>{{item.campania}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>