 .container-form {
     width: 900px !important;
 }

 .container-find {
     width: 400px;
 }

::ng-deep .mat-header-row {
     background: blue !important;
     color: white !important;

     th {
        color: white !important;
    }
 }
