<div class="container pt-1">
    <nav class="navbar navbar-light" style="background-color: #e3ffee;">
        <a class="nav-link" [routerLink]="['/campanas']" routerLinkActive="true">Campañas</a>
        <a class="nav-link" [routerLink]="['/ofertas-generar']" routerLinkActive="true">Ofertas</a>
        <a class="nav-link" [routerLink]="['/tasas']" routerLinkActive="true">Tasas</a>
        <a class="nav-link" [routerLink]="['/pdf-especial-carga']" routerLinkActive="true">PDF Especial</a>
        <a class="nav-link" [routerLink]="['/folios']" routerLinkActive="true">Folios</a>
        <a class="nav-link" [routerLink]="['/sucursales']" routerLinkActive="true">Sucursales</a>
    </nav>
</div>  