<div class="container">
    <div class="row justify-content-center align-items-baseline">
        <img [src]="iconCarga" class="pt-2" style="width: 3%;">
        <h4><label class="texto-general mb-2 text-center"><b>Consulta de Posibles Reprocesos</b></label></h4>
    </div>
</div>
<div class="cborder">
    <div class="row pr-4 pl-4 pt-2">
        <div class="col">
            <div class="input-group mb-2">
                <span class="input-group-text"><label class="texto-general text-center">Fecha Inicial:</label></span>
                <input type="date" class="form-control">
            </div>
        </div>
        <div class="col">
            <div class="input-group mb-2">
                <span class="input-group-text"><label class="texto-general text-center">Fecha Final:</label></span>
                <input type="date" class="form-control">
            </div>
        </div>
        <div class="col-sm-3" style="text-align: center;">
            <button class="btn btn-success btn-sm m-1 btn-border" style="background-color: #00c851 !important;" (click)="buscaRegistros()">Busqueda de Registros</button>
        </div>
    </div>
    <div class="row pr-4 pl-4 pt-2">
        <div class="col"></div>
        <div class="col" style="text-align: center;">
            <button class="btn btn-success btn-sm m-1 btn-border" style="background-color: #00c851 !important;" (click)="onSubmit()">Almacenar Registros</button>
            <button class="btn btn-primary btn-sm m-1 btn-border">Ver Reporte</button>
        </div>
        <div class="col"></div>
    </div>
</div>
<div *ngIf="showDataTable">
    <div class="mt-4 text-center" style="overflow: auto;">

        <div class="mt-5 col-md-12">
            <label>Contratos Repetidos en registros de Tasas (MIS)</label>
        </div>
            <table class="txt-small w-100 m-auto table table-striped pt-4">
                <thead>
                    <tr>
                        <th *ngFor="let columHeader of tableHeader" class="texto-general" style="cursor: pointer;">
                            {{columHeader.nombre}}
                        </th>
                    </tr>
                </thead>
                <tbody class="mat-body">
                    <tr *ngFor="let data of tableValue">
                        <td class="mat-cell p-2"><input type="checkbox">{{data.id}}</td>
                        <td class="mat-cell p-1">{{data.folio}}</td>
                        <td class="mat-cell p-1">{{data.fecha}}</td>
                        <td class="mat-cell p-1">{{data.sucursal}}</td>
                        <td class="mat-cell p-1">{{data.monto}}</td>
                        <td class="mat-cell p-1">{{data.plaza}}</td>
                        <td class="mat-cell p-1">{{data.tasa}}</td>
                        <td class="mat-cell p-1">{{data.estatus}}</td>
                        <td class="mat-cell p-1">{{data.numeroCte}}</td>
                        <td class="mat-cell p-1"><input type="text" [value]="data.nombreCte" style="width: 8em"></td>
                        <td class="mat-cell p-1">{{data.contrato}}</td>
                        <td class="mat-cell p-1">{{data.operador}}</td>
                        <td class="mat-cell p-1">{{data.idOferta}}</td>
                        <td class="mat-cell p-1"><input type="text" [value]="data.nombreEjec" style="width: 8em;"></td>
                        <td class="mat-cell p-1"><input type="text" [value]="data.observaciones" style="width: 8em;"></td>
                        <td class="mat-cell p-2"><input type="text" [value]="data.SOIEDResp" style="width: 3em;"></td>
                    </tr>
                </tbody>
            </table>
    </div>

    <!-- Contratos Repetidos en registros de Tasas (Operativo) -->
    <div class="mt-4 text-center" style="overflow: auto;">

        <div class="mt-5 col-md-12">
            <label>Contratos Repetidos en registros de Tasas (Operativo)</label>
        </div>
            <table class="txt-small w-100 m-auto table table-striped pt-4">
                <thead>
                    <tr>
                        <th *ngFor="let columHeader of tableHeader" class="texto-general" style="cursor: pointer;">
                            {{columHeader.nombre}}
                        </th>
                    </tr>
                </thead>
                <tbody class="mat-body">
                    <tr *ngFor="let data of tableValue">
                        <td class="mat-cell p-2"><input type="checkbox">{{data.id}}</td>
                        <td class="mat-cell p-1">{{data.folio}}</td>
                        <td class="mat-cell p-1">{{data.fecha}}</td>
                        <td class="mat-cell p-1">{{data.sucursal}}</td>
                        <td class="mat-cell p-1">{{data.monto}}</td>
                        <td class="mat-cell p-1">{{data.plaza}}</td>
                        <td class="mat-cell p-1">{{data.tasa}}</td>
                        <td class="mat-cell p-1">{{data.estatus}}</td>
                        <td class="mat-cell p-1">{{data.numeroCte}}</td>
                        <td class="mat-cell p-1"><input type="text" [value]="data.nombreCte" style="width: 8em"></td>
                        <td class="mat-cell p-1">{{data.contrato}}</td>
                        <td class="mat-cell p-1">{{data.operador}}</td>
                        <td class="mat-cell p-1">{{data.idOferta}}</td>
                        <td class="mat-cell p-1"><input type="text" [value]="data.nombreEjec" style="width: 8em;"></td>
                        <td class="mat-cell p-1"><input type="text" [value]="data.observaciones" style="width: 8em;"></td>
                        <td class="mat-cell p-2"><input type="text" [value]="data.SOIEDResp" style="width: 3em;"></td>
                    </tr>
                </tbody>
            </table>
    </div>

    <!-- Clientes Repetidos en registros de Tasas (MIS) -->
    <div class="mt-4 text-center" style="overflow: auto;">

        <div class="mt-5 col-md-12">
            <label>Clientes Repetidos en registros de Tasas (MIS)</label>
        </div>
            <table class="txt-small w-100 m-auto table table-striped pt-4">
                <thead>
                    <tr>
                        <th *ngFor="let columHeader of tableHeader" class="texto-general" style="cursor: pointer;">
                            {{columHeader.nombre}}
                        </th>
                    </tr>
                </thead>
                <tbody class="mat-body">
                    <tr *ngFor="let data of tableValue">
                        <td class="mat-cell p-2"><input type="checkbox">{{data.id}}</td>
                        <td class="mat-cell p-1">{{data.folio}}</td>
                        <td class="mat-cell p-1">{{data.fecha}}</td>
                        <td class="mat-cell p-1">{{data.sucursal}}</td>
                        <td class="mat-cell p-1">{{data.monto}}</td>
                        <td class="mat-cell p-1">{{data.plaza}}</td>
                        <td class="mat-cell p-1">{{data.tasa}}</td>
                        <td class="mat-cell p-1">{{data.estatus}}</td>
                        <td class="mat-cell p-1">{{data.numeroCte}}</td>
                        <td class="mat-cell p-1"><input type="text" [value]="data.nombreCte" style="width: 8em"></td>
                        <td class="mat-cell p-1">{{data.contrato}}</td>
                        <td class="mat-cell p-1">{{data.operador}}</td>
                        <td class="mat-cell p-1">{{data.idOferta}}</td>
                        <td class="mat-cell p-1"><input type="text" [value]="data.nombreEjec" style="width: 8em;"></td>
                        <td class="mat-cell p-1"><input type="text" [value]="data.observaciones" style="width: 8em;"></td>
                        <td class="mat-cell p-2"><input type="text" [value]="data.SOIEDResp" style="width: 3em;"></td>
                    </tr>
                </tbody>
            </table>
    </div>

    <!-- Clientes Repetidos en registros de Tasas (Operativo) -->
    <div class="mt-4 text-center" style="overflow: auto;">

        <div class="mt-5 col-md-12">
            <label>Clientes Repetidos en registros de Tasas (Operativo)</label>
        </div>
            <table class="txt-small w-100 m-auto table table-striped pt-4">
                <thead>
                    <tr>
                        <th *ngFor="let columHeader of tableHeader" class="texto-general" style="cursor: pointer;">
                            {{columHeader.nombre}}
                        </th>
                    </tr>
                </thead>
                <tbody class="mat-body">
                    <tr *ngFor="let data of tableValue">
                        <td class="mat-cell p-2"><input type="checkbox">{{data.id}}</td>
                        <td class="mat-cell p-1">{{data.folio}}</td>
                        <td class="mat-cell p-1">{{data.fecha}}</td>
                        <td class="mat-cell p-1">{{data.sucursal}}</td>
                        <td class="mat-cell p-1">{{data.monto}}</td>
                        <td class="mat-cell p-1">{{data.plaza}}</td>
                        <td class="mat-cell p-1">{{data.tasa}}</td>
                        <td class="mat-cell p-1">{{data.estatus}}</td>
                        <td class="mat-cell p-1">{{data.numeroCte}}</td>
                        <td class="mat-cell p-1"><input type="text" [value]="data.nombreCte" style="width: 8em"></td>
                        <td class="mat-cell p-1">{{data.contrato}}</td>
                        <td class="mat-cell p-1">{{data.operador}}</td>
                        <td class="mat-cell p-1">{{data.idOferta}}</td>
                        <td class="mat-cell p-1"><input type="text" [value]="data.nombreEjec" style="width: 8em;"></td>
                        <td class="mat-cell p-1"><input type="text" [value]="data.observaciones" style="width: 8em;"></td>
                        <td class="mat-cell p-2"><input type="text" [value]="data.SOIEDResp" style="width: 3em;"></td>
                    </tr>
                </tbody>
            </table>
    </div>

    <!-- Datos repetidos (monto, plazo y tasa) -->
    <div class="mt-4 text-center" style="overflow: auto;">
        <div class="mt-5 col-md-12">
            <label>Datos repetidos (monto, plazo y tasa)</label>
        </div>
            <table class="txt-small w-100 m-auto table table-striped pt-4">
                <thead>
                    <tr>
                        <th *ngFor="let columHeader of tableHeader" class="texto-general" style="cursor: pointer;">
                            {{columHeader.nombre}}
                        </th>
                    </tr>
                </thead>
                <tbody class="mat-body">
                    <tr *ngFor="let data of tableValue">
                        <td class="mat-cell p-2"><input type="checkbox">{{data.id}}</td>
                        <td class="mat-cell p-1">{{data.folio}}</td>
                        <td class="mat-cell p-1">{{data.fecha}}</td>
                        <td class="mat-cell p-1">{{data.sucursal}}</td>
                        <td class="mat-cell p-1">{{data.monto}}</td>
                        <td class="mat-cell p-1">{{data.plaza}}</td>
                        <td class="mat-cell p-1">{{data.tasa}}</td>
                        <td class="mat-cell p-1">{{data.estatus}}</td>
                        <td class="mat-cell p-1">{{data.numeroCte}}</td>
                        <td class="mat-cell p-1"><input type="text" [value]="data.nombreCte" style="width: 8em"></td>
                        <td class="mat-cell p-1">{{data.contrato}}</td>
                        <td class="mat-cell p-1">{{data.operador}}</td>
                        <td class="mat-cell p-1">{{data.idOferta}}</td>
                        <td class="mat-cell p-1"><input type="text" [value]="data.nombreEjec" style="width: 8em;"></td>
                        <td class="mat-cell p-1"><input type="text" [value]="data.observaciones" style="width: 8em;"></td>
                        <td class="mat-cell p-2"><input type="text" [value]="data.SOIEDResp" style="width: 3em;"></td>
                    </tr>
                </tbody>
            </table>
    </div>

    <!-- Registros de Timeliness -->
    <div class="mt-4 text-center" style="overflow: auto;">
        <div class="mt-5 col-md-12">
            <label>Registros de Timeliness</label>
        </div>
            <table class="txt-small w-100 m-auto table table-striped pt-4">
                <thead>
                    <tr>
                        <th *ngFor="let columHeader of tableHeaderTimeLinnes" class="texto-general" style="cursor: pointer;">
                            {{columHeader.nombre}}
                        </th>
                    </tr>
                </thead>
                <tbody class="mat-body">
                    <tr *ngFor="let data of tableValueTimeLiness">
                        <td class="mat-cell p-2"><input type="checkbox">{{data.id}}</td>
                        <td class="mat-cell p-1">{{data.asignado}}</td>
                        <td class="mat-cell p-1">{{data.operadoPor}}</td>
                        <td class="mat-cell p-1">{{data.contrato}}</td>
                        <td class="mat-cell p-1">{{data.numeroCte}}</td>
                        <td class="mat-cell p-1">{{data.estatus}}</td>
                        <td class="mat-cell p-1">{{data.fecha_Captura}}</td>
                        <td class="mat-cell p-1">{{data.fecha_Autoriza}}</td>
                        <td class="mat-cell p-1">{{data.fecha_Estatus}}</td>
                        <td class="mat-cell p-1">{{data.observa}}</td>
                        <td class="mat-cell p-1">{{data.oferta}}</td>
                        <td class="mat-cell p-1">{{data.SOIEDResp}}</td>
                    </tr>
                </tbody>
            </table>
    </div>
</div>

<div *ngIf="showRegistrosAlmacenados">
    <div class="row mt-4 pt-4 text-center">
        <div class="col-5"></div>
        <div class="col-2"><label class="texto-general mb-2">Registros Recolectados</label></div>
        <div class="col-5"></div>
    </div>
    <div class="row pt-4 text-center">
        <div class="col-5"></div>
        <div class="col-2"><button class="btn btn-danger btn-sm m-1 btn-border">Borrar</button></div>
        <div class="col-5"></div>
    </div>
    <div class="mt-2 text-center" style="overflow: auto;">
        <div class="col-md-12">
            <label>Contratos Repetidos en registros de Tasas (MIS)</label>
        </div>
            <table class="txt-small w-100 m-auto table table-striped pt-4">
                <thead>
                    <tr>
                        <th *ngFor="let columHeader of tableHeader" class="texto-general" style="cursor: pointer;">
                            {{columHeader.nombre}}
                        </th>
                    </tr>
                </thead>
                <tbody class="mat-body">
                    <tr *ngFor="let data of tableValue">
                        <td class="mat-cell p-2"><input type="checkbox">{{data.id}}</td>
                        <td class="mat-cell p-1">{{data.folio}}</td>
                        <td class="mat-cell p-1">{{data.fecha}}</td>
                        <td class="mat-cell p-1">{{data.sucursal}}</td>
                        <td class="mat-cell p-1">{{data.monto}}</td>
                        <td class="mat-cell p-1">{{data.plaza}}</td>
                        <td class="mat-cell p-1">{{data.tasa}}</td>
                        <td class="mat-cell p-1">{{data.estatus}}</td>
                        <td class="mat-cell p-1">{{data.numeroCte}}</td>
                        <td class="mat-cell p-1"><input type="text" [value]="data.nombreCte" style="width: 8em"></td>
                        <td class="mat-cell p-1">{{data.contrato}}</td>
                        <td class="mat-cell p-1">{{data.operador}}</td>
                        <td class="mat-cell p-1">{{data.idOferta}}</td>
                        <td class="mat-cell p-1"><input type="text" [value]="data.nombreEjec" style="width: 8em;"></td>
                        <td class="mat-cell p-1"><input type="text" [value]="data.observaciones" style="width: 8em;"></td>
                        <td class="mat-cell p-2"><input type="text" [value]="data.SOIEDResp" style="width: 3em;"></td>
                    </tr>
                </tbody>
            </table>
    </div>

    <!-- Contratos Repetidos en registros de Tasas (Operativo) -->
    <div class="row mt-4 pt-4 text-center">
        <div class="col-5"></div>
        <div class="col-2"><label class="texto-general mb-2">Registros Recolectados</label></div>
        <div class="col-5"></div>
    </div>
    <div class="row pt-4 text-center">
        <div class="col-5"></div>
        <div class="col-2"><button class="btn btn-danger btn-sm m-1 btn-border">Borrar</button></div>
        <div class="col-5"></div>
    </div>
    <div class="mt-2 text-center" style="overflow: auto;">

        <div class="col-md-12">
            <label>Contratos Repetidos en registros de Tasas (Operativo)</label>
        </div>
            <table class="txt-small w-100 m-auto table table-striped pt-4">
                <thead>
                    <tr>
                        <th *ngFor="let columHeader of tableHeader" class="texto-general" style="cursor: pointer;">
                            {{columHeader.nombre}}
                        </th>
                    </tr>
                </thead>
                <tbody class="mat-body">
                    <tr *ngFor="let data of tableValue">
                        <td class="mat-cell p-2"><input type="checkbox">{{data.id}}</td>
                        <td class="mat-cell p-1">{{data.folio}}</td>
                        <td class="mat-cell p-1">{{data.fecha}}</td>
                        <td class="mat-cell p-1">{{data.sucursal}}</td>
                        <td class="mat-cell p-1">{{data.monto}}</td>
                        <td class="mat-cell p-1">{{data.plaza}}</td>
                        <td class="mat-cell p-1">{{data.tasa}}</td>
                        <td class="mat-cell p-1">{{data.estatus}}</td>
                        <td class="mat-cell p-1">{{data.numeroCte}}</td>
                        <td class="mat-cell p-1"><input type="text" [value]="data.nombreCte" style="width: 8em"></td>
                        <td class="mat-cell p-1">{{data.contrato}}</td>
                        <td class="mat-cell p-1">{{data.operador}}</td>
                        <td class="mat-cell p-1">{{data.idOferta}}</td>
                        <td class="mat-cell p-1"><input type="text" [value]="data.nombreEjec" style="width: 8em;"></td>
                        <td class="mat-cell p-1"><input type="text" [value]="data.observaciones" style="width: 8em;"></td>
                        <td class="mat-cell p-2"><input type="text" [value]="data.SOIEDResp" style="width: 3em;"></td>
                    </tr>
                </tbody>
            </table>
    </div>

    <!-- Clientes Repetidos en registros de Tasas (MIS) -->
    <div class="row mt-4 pt-4 text-center">
        <div class="col-5"></div>
        <div class="col-2"><label class="texto-general mb-2">Registros Recolectados</label></div>
        <div class="col-5"></div>
    </div>
    <div class="row pt-4 text-center">
        <div class="col-5"></div>
        <div class="col-2"><button class="btn btn-danger btn-sm m-1 btn-border">Borrar</button></div>
        <div class="col-5"></div>
    </div>
    <div class="mt-2 text-center" style="overflow: auto;">

        <div class=" col-md-12">
            <label>Clientes Repetidos en registros de Tasas (MIS)</label>
        </div>
            <table class="txt-small w-100 m-auto table table-striped pt-4">
                <thead>
                    <tr>
                        <th *ngFor="let columHeader of tableHeader" class="texto-general" style="cursor: pointer;">
                            {{columHeader.nombre}}
                        </th>
                    </tr>
                </thead>
                <tbody class="mat-body">
                    <tr *ngFor="let data of tableValue">
                        <td class="mat-cell p-2"><input type="checkbox">{{data.id}}</td>
                        <td class="mat-cell p-1">{{data.folio}}</td>
                        <td class="mat-cell p-1">{{data.fecha}}</td>
                        <td class="mat-cell p-1">{{data.sucursal}}</td>
                        <td class="mat-cell p-1">{{data.monto}}</td>
                        <td class="mat-cell p-1">{{data.plaza}}</td>
                        <td class="mat-cell p-1">{{data.tasa}}</td>
                        <td class="mat-cell p-1">{{data.estatus}}</td>
                        <td class="mat-cell p-1">{{data.numeroCte}}</td>
                        <td class="mat-cell p-1"><input type="text" [value]="data.nombreCte" style="width: 8em"></td>
                        <td class="mat-cell p-1">{{data.contrato}}</td>
                        <td class="mat-cell p-1">{{data.operador}}</td>
                        <td class="mat-cell p-1">{{data.idOferta}}</td>
                        <td class="mat-cell p-1"><input type="text" [value]="data.nombreEjec" style="width: 8em;"></td>
                        <td class="mat-cell p-1"><input type="text" [value]="data.observaciones" style="width: 8em;"></td>
                        <td class="mat-cell p-2"><input type="text" [value]="data.SOIEDResp" style="width: 3em;"></td>
                    </tr>
                </tbody>
            </table>
    </div>

    <!-- Clientes Repetidos en registros de Tasas (Operativo) -->
    <div class="row mt-4 pt-4 text-center">
        <div class="col-5"></div>
        <div class="col-2"><label class="texto-general mb-2">Registros Recolectados</label></div>
        <div class="col-5"></div>
    </div>
    <div class="row pt-4 text-center">
        <div class="col-5"></div>
        <div class="col-2"><button class="btn btn-danger btn-sm m-1 btn-border">Borrar</button></div>
        <div class="col-5"></div>
    </div>
    <div class="mt-2 text-center" style="overflow: auto;">

        <div class="col-md-12">
            <label>Clientes Repetidos en registros de Tasas (Operativo)</label>
        </div>
            <table class="txt-small w-100 m-auto table table-striped pt-4">
                <thead>
                    <tr>
                        <th *ngFor="let columHeader of tableHeader" class="texto-general" style="cursor: pointer;">
                            {{columHeader.nombre}}
                        </th>
                    </tr>
                </thead>
                <tbody class="mat-body">
                    <tr *ngFor="let data of tableValue">
                        <td class="mat-cell p-2"><input type="checkbox">{{data.id}}</td>
                        <td class="mat-cell p-1">{{data.folio}}</td>
                        <td class="mat-cell p-1">{{data.fecha}}</td>
                        <td class="mat-cell p-1">{{data.sucursal}}</td>
                        <td class="mat-cell p-1">{{data.monto}}</td>
                        <td class="mat-cell p-1">{{data.plaza}}</td>
                        <td class="mat-cell p-1">{{data.tasa}}</td>
                        <td class="mat-cell p-1">{{data.estatus}}</td>
                        <td class="mat-cell p-1">{{data.numeroCte}}</td>
                        <td class="mat-cell p-1"><input type="text" [value]="data.nombreCte" style="width: 8em"></td>
                        <td class="mat-cell p-1">{{data.contrato}}</td>
                        <td class="mat-cell p-1">{{data.operador}}</td>
                        <td class="mat-cell p-1">{{data.idOferta}}</td>
                        <td class="mat-cell p-1"><input type="text" [value]="data.nombreEjec" style="width: 8em;"></td>
                        <td class="mat-cell p-1"><input type="text" [value]="data.observaciones" style="width: 8em;"></td>
                        <td class="mat-cell p-2"><input type="text" [value]="data.SOIEDResp" style="width: 3em;"></td>
                    </tr>
                </tbody>
            </table>
    </div>

    <!-- Datos repetidos (monto, plazo y tasa) -->
    <div class="row mt-4 pt-4 text-center">
        <div class="col-5"></div>
        <div class="col-2"><label class="texto-general mb-2">Registros Recolectados</label></div>
        <div class="col-5"></div>
    </div>
    <div class="row pt-4 text-center">
        <div class="col-5"></div>
        <div class="col-2"><button class="btn btn-danger btn-sm m-1 btn-border">Borrar</button></div>
        <div class="col-5"></div>
    </div>
    <div class="mt-2 text-center" style="overflow: auto;">
        <div class="col-md-12">
            <label>Datos repetidos (monto, plazo y tasa)</label>
        </div>
            <table class="txt-small w-100 m-auto table table-striped pt-4">
                <thead>
                    <tr>
                        <th *ngFor="let columHeader of tableHeader" class="texto-general" style="cursor: pointer;">
                            {{columHeader.nombre}}
                        </th>
                    </tr>
                </thead>
                <tbody class="mat-body">
                    <tr *ngFor="let data of tableValue">
                        <td class="mat-cell p-2"><input type="checkbox">{{data.id}}</td>
                        <td class="mat-cell p-1">{{data.folio}}</td>
                        <td class="mat-cell p-1">{{data.fecha}}</td>
                        <td class="mat-cell p-1">{{data.sucursal}}</td>
                        <td class="mat-cell p-1">{{data.monto}}</td>
                        <td class="mat-cell p-1">{{data.plaza}}</td>
                        <td class="mat-cell p-1">{{data.tasa}}</td>
                        <td class="mat-cell p-1">{{data.estatus}}</td>
                        <td class="mat-cell p-1">{{data.numeroCte}}</td>
                        <td class="mat-cell p-1"><input type="text" [value]="data.nombreCte" style="width: 8em"></td>
                        <td class="mat-cell p-1">{{data.contrato}}</td>
                        <td class="mat-cell p-1">{{data.operador}}</td>
                        <td class="mat-cell p-1">{{data.idOferta}}</td>
                        <td class="mat-cell p-1"><input type="text" [value]="data.nombreEjec" style="width: 8em;"></td>
                        <td class="mat-cell p-1"><input type="text" [value]="data.observaciones" style="width: 8em;"></td>
                        <td class="mat-cell p-2"><input type="text" [value]="data.SOIEDResp" style="width: 3em;"></td>
                    </tr>
                </tbody>
            </table>
    </div>

    <!-- Registros de Timeliness -->
    <div class="row mt-4 pt-4 text-center">
        <div class="col-5"></div>
        <div class="col-2"><label class="texto-general mb-2">Registros Recolectados</label></div>
        <div class="col-5"></div>
    </div>
    <div class="row pt-4 text-center">
        <div class="col-5"></div>
        <div class="col-2"><button class="btn btn-danger btn-sm m-1 btn-border">Borrar</button></div>
        <div class="col-5"></div>
    </div>
    <div class="mt-4 text-center" style="overflow: auto;">
        <div class="col-md-12">
            <label>Registros de Timeliness</label>
        </div>
            <table class="txt-small w-100 m-auto table table-striped pt-4">
                <thead>
                    <tr>
                        <th *ngFor="let columHeader of tableHeaderTimeLinnes" class="texto-general" style="cursor: pointer;">
                            {{columHeader.nombre}}
                        </th>
                    </tr>
                </thead>
                <tbody class="mat-body">
                    <tr *ngFor="let data of tableValueTimeLiness">
                        <td class="mat-cell p-2"><input type="checkbox">{{data.id}}</td>
                        <td class="mat-cell p-1">{{data.asignado}}</td>
                        <td class="mat-cell p-1">{{data.operadoPor}}</td>
                        <td class="mat-cell p-1">{{data.contrato}}</td>
                        <td class="mat-cell p-1">{{data.numeroCte}}</td>
                        <td class="mat-cell p-1">{{data.estatus}}</td>
                        <td class="mat-cell p-1">{{data.fecha_Captura}}</td>
                        <td class="mat-cell p-1">{{data.fecha_Autoriza}}</td>
                        <td class="mat-cell p-1">{{data.fecha_Estatus}}</td>
                        <td class="mat-cell p-1">{{data.observa}}</td>
                        <td class="mat-cell p-1">{{data.oferta}}</td>
                        <td class="mat-cell p-1">{{data.SOIEDResp}}</td>
                    </tr>
                </tbody>
            </table>
    </div>
</div>
