<app-navconfig></app-navconfig>
<div class="row justify-content-center align-items-baseline">
    <img src="../../../../../assets/images/Img/load.PNG" alt="">
    <p class="title-sileder">Cargador de Imágen Principal</p>
</div>

<div class="row justify-content-center container-banner">
    <p class="subtitle-slider col-12">Carga de Detalle Banner</p>
    <div class="col-8 row container-elements">
            
            <p class="label-file "> Cargar de 1er Banner (*.jpg)</p>
            <div class="container-file">
                <input class="form-control form-control-sm" type="file" id="formFile" accept="image/*">
            </div>
            <div class="load-button">
                <button type="button" class="btn btn-warning label-img" (click)="loadImg(1)">Subir img.1</button>
            </div>
    </div>
</div>  
