<div class="container pt-1">
    <nav class="navbar navbar-light" style="background-color: #e3ffee;">
        <a class="nav-link" [routerLink]="['/menu-administracion']" routerLinkActive="true">Menú Administración</a>
        <a class="nav-link" [routerLink]="['/slider']" routerLinkActive="true">Slider</a>
        <a class="nav-link" [routerLink]="['/pdf']" routerLinkActive="true">PDF</a>
        <a class="nav-link" [routerLink]="['/imagen-principal']" routerLinkActive="true">Imagen Principal</a>
        <a class="nav-link" [routerLink]="['/catalogos']" routerLinkActive="true">Catálogos</a>
    </nav>
</div>