

.graficas
{
    width: 150em;
     height: 18em;
      border: 0.2em dashed #d8d7d9; 
      border-radius: 3em;
}

table tbody tr > td:nth-child(2)
{
    background-color: rgb( 221, 219, 222);
}

.color-tabla-column
{
    background-color: rgb(72, 127, 181);
}
.color-tabla-column-
{
    background-color: rgb(115, 133, 140);
    color: rgb( 221, 219, 222);
}
.color-column
{
    background-color: rgb(97, 162, 189);
    color: rgb( 221, 219, 222);
}