.label-color{
    color: #004785;
}

.bg-file{
    background-color: #4692d5;
    color: white;
    width: 29em;
}

.size-input{
    width: 4em;
}

.size-text-calendar{
    width: 6em;
    margin-right: 0.07em;
}

.icon-calendar{
    color: white;
    background-color: #26c6da ;
}