<div class="topbar">
    <nav class="navbar  top-navbar navbar-expand-mb navbar-light section">
        <div class="container-fluid all-size">
            <div class="row w-100 p-0 m-0">
                <div class="col-2" style="float: left;">
                    <img class="img-position pt-4" style="max-width: 80%;" alt="Citi Banamex" [src]="iconBanco">
                </div>
                <div class="col">
                    <nav class="container-fluid all-size navbar-style pt-3">
                        <ul [ngClass]="classMenu" (click)="hideMenu()" (mouseenter)="showMenu()">
                            <li>
                                <a class="title-menu">Perfilador</a>
                                <div class="submenu-right">
                                    <ul>
                                        <li>
                                            <a class="title-menu" [routerLink]="['perfilador']" routerLinkActive="true">Perfilador</a>
                                        </li>
                                        <li>
                                            <a class="title-menu" [routerLink]="['aclaraciones']" routerLinkActive="true">Aclaraciones</a>
                                        </li>
                                        <li (mouseenter)="showSubSubMenu(true)" (mouseleave)="showSubSubMenu(false)" >
                                            <a class="title-menu" >Otros Sitios</a>
                                            <div class="sub-submenu-right" >
                                                <ul>
                                                    <li>
                                                        <a class="title-menu" href="http://localhost:4200/#/solicitudes-especiales" target="_blank">Sitio EUC</a>
                                                    </li>
                                                    <li>
                                                        <a class="title-menu" href="http://localhost:4200/#/vista-ejecutivo" target="_blank">Sitio de solicitudes</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </li>
                                        <li>
                                            <a class="title-menu" [routerLink]="['citivsotros']" routerLinkActive="true">Citibanamex vs otros</a>
                                        </li>
                                        <li>
                                            <a class="title-menu" [routerLink]="['menu-administracion']" routerLinkActive="true">Funciones de configuración</a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li>
                                <a class="title-menu">Solicitud de inversiones</a>
                                <div class="submenu-right">
                                    <ul>
                                        <li>
                                            <a class="title-menu" [routerLink]="['vista-ejecutivo']" routerLinkActive="true">Vista Ejecutivo</a>
                                        </li>
                                        <li>
                                            <a class="title-menu" [routerLink]="['solicitudes-especiales']" routerLinkActive="true">Solicitudes especiales</a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li>
                                <a class="title-menu">Sitio EUC</a>
                                <div class="submenu-right">
                                    <ul>
                                        <li>
                                            <a class="title-menu" [routerLink]="['control-tasas']" routerLinkActive="true">Control de tasas</a>
                                        </li>
                                        <li>
                                            <a class="title-menu" [routerLink]="['operaciones-especiales']" routerLinkActive="true">Operaciones Especiales</a>
                                        </li>
                                        <li>
                                            <a class="title-menu" [routerLink]="['reenvio-solicitudes-especiales']" routerLinkActive="true">Reenvío de Solicitudes Especiales</a>
                                        </li>
                                        <li>
                                            <a class="title-menu" [routerLink]="['reportes-EUC']" routerLinkActive="true">Reportes EUC</a>
                                        </li>
                                        <li>
                                            <a class="title-menu" [routerLink]="['autorizadores']" routerLinkActive="true">Autorizadores</a>
                                        </li>
                                        <li>
                                            <a class="title-menu" [routerLink]="['gerenciareporteacumulado']" routerLinkActive="true">Gerencia Reporte Acumulado</a>
                                        </li>
                                        <li>
                                            <a class="title-menu" >Gerencia</a>
                                            <div class="submenu-left">
                                                <ul >
                                                    <li>
                                                        <a class="title-menu" [routerLink]="['vista-campanas']" routerLinkActive="true">Campañas On-Line</a>
                                                    </li>
                                                    <li>
                                                        <a class="title-menu" [routerLink]="['gerencia/vista-por-campañas-aplicadas']" routerLinkActive="true">Vista por Campañas Aplicadas</a>
                                                    </li>
                                                    <li>
                                                        <a class="title-menu" [routerLink]="['gerencia/campanias-online-timeliness']" routerLinkActive="true">Gerencias Online Timeliness</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </nav>
</div>
