.icon-reporte{
    font-size: 3em;
    color: #004785;
}
.button-radius{
    border-radius: 1em !important;
}

.th-color{
    color: white;
    background-color:  #028ee1;
  }

  textarea{
    width: 7em;
    height: 2em;
  }