<h1>Site Solicitud de Inversiones</h1>
<hr>
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="center">
                <h2 class="color-low">C I T I B A N A M E X</h2>
                <h2>Lo mejor de México, <br> lo mejor del mundo</h2>
                <h5 class="color-low">Comprometidos a ofrecerte la mejor experiencia bancaria</h5>
            </div>
        </div>
        <div class="col-md-6">
            <img src="../../../../assets/images/dummy/estadisticas.jpg">
        </div>
    </div>
</div>