$colorPrincipalBlue: #3262d1;
.border-card{
    border-width: 4px;
    border-color: $colorPrincipalBlue;
    border-radius: 1em;
}

.card-header-background{
    color: white;
    background: $colorPrincipalBlue;
}

.form-group{
    margin-bottom: 0%;
}

.icon-warning{
    color: yellow;
}

.label-cab{
    color: $colorPrincipalBlue;
}

.check-container{
    min-height: 6em;
    max-height: 6em;
    overflow-y: scroll;
    text-align: initial;
}

.table-header{
    background-color: $colorPrincipalBlue;
    color: white;
}