$colorPrincipalBlue: #3262d1;
/* table {
    width: 100%;
  }
  
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }
  
  td, th {
    width: 25%;
  } */

  table{
    th, td{
      border: 1px solid rgb(0, 0, 0);
    }
  }

  .th-color{
    color: white;
    background-color: $colorPrincipalBlue ;
  }

  .td-aceptada{
    color: white;
    background-color: #7a8fc0 ;
  }
  .td-cancelada{
    color: white;
    background-color: #368f83 ;
  }
  th{
    width: 6em;
  }
  