<div class="container-fluid">
    <div class="row w-100">
        <div class="col-2"></div>
        <div class="col-8">
            <div class="row text-left">
                <h4><b>"Como resolver situaciones de aclaraciones sobre inversiones"</b></h4>
            </div>
            <div class="row">
                <p class="text-justify">
                    Buscamos generar la mejor experiencia de nuestros clientes por invertir en Citibanamex, para lograrlo, debemos estar 
                    preparados para ofrecer respuestas claras y expeditas a posibles situaciones de servicio que eventualmente se le 
                    presenten, te pedimos tomar en cuenta las siguientes recomendaciones:
                </p>
            </div>
            <!--  -->
            <div class="row">
                <div class="col cbordeRed mb-2">
                    <div class="row pt-1" style="background-color: red; color: white;">
                        <div class="row">
                            <p class="text-justify mr-4 ml-4"> Si... es por inactividad (Art. 61)</p>
                        </div>
                        <div class="row">
                            <p class="text-justify mr-4 ml-4"> 
                                Las cuentas del cliente han permanecido sin activar por más
                                de 3 años consecutivos y no localizan sus recursos, deberás:
                            </p>
                        </div>
                    </div>
                    <div class="row pt-1">
                        <div class="row">
                            <div class="text-center"> 
                                <ul>
                                    <li>
                                        <p class="text-justify mr-4 ml-4">
                                            Enviar un main al buzón de articulo <b>(Articulo 61 [BNMX])</b>
                                            para confirmar que los recursos se encuentren o no en cuenta global.
                                        </p>
                                    </li>
                                    <li>
                                        <p class="text-justify mr-4 ml-4">
                                            Si los recursos se encuentran en cuenta global, ingresa tu solicitud 
                                            a través de la literal M-76 e indica a tu cliente No. De folio y tiempo 
                                            de respuesta (72 hrs.)
                                        </p>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="row">
                            <p class="text-justify mr-4 ml-4"> 
                                <b>Nota:</b> Si el cliente se presenta con una carta que indique el traspaso de sus 
                                fondos a cuenta global, favor de adjuntarla en los pasos antes mencionados.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col cbordeAqua mb-2">
                    <div class="row pt-1" style="background-color: #00BCD4; color: white;">
                        <div class="row">
                            <p class="text-justify mr-4 ml-4"> 
                                Si... es por rechazo de abono al vencimiento
                                de la inversión
                            </p>
                        </div>
                        <div class="row">
                            <p class="text-justify mr-4 ml-4"> 
                                Aquellas inversiones a plazo con instrucción de reembolso 
                                total / reinversión de capital que venzan y su cuenta eje 
                                presente estatus diferente a activo (11), la instrucción del 
                                abono se rechaza, para recuperar los recursos deberás:
                            </p>
                        </div>
                    </div>
                    <div class="row pt-1">
                        <div class="row">
                            <div class="text-center"> 
                                <ul>
                                    <li>
                                        <p class="text-justify mr-4 ml-4">
                                            Ingresar tu solicitud para la recuperación de los recursos
                                            a través de la literal Y-7 e indica a tu cliente No. De 
                                            folio y tiempo de respuesta (72 hrs.)
                                        </p>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="row">
                            <p class="text-justify mr-4 ml-4"> 
                                <b>Nota:</b> Si al momento de la solicitud se reactiva la cuenta o
                                se presenta alguna alterna, se podrá indicar en la misma literal
                                para aplicarle el abono, caso contrario, se emite orden de 
                                pago a favor del cliente titular.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <!--  -->
            <div class="row">
                <div class="col cbordeGreen mb-2">
                    <div class="row pt-1" style="background-color: #9CCC65; color: white;">
                        <div class="row">
                            <p class="text-justify mr-4 ml-4"> Si... es cuenta cancelada por expediente incompleto</p>
                        </div>
                        <div class="row">
                            <p class="text-justify mr-4 ml-4"> 
                                Si el cliente no puede mover el dinero de su inversión por
                                cuenta eje cancelada (expediente incompleto / status 15),
                                deberás:
                            </p>
                        </div>
                    </div>
                    <div class="row pt-1">
                        <div class="row">
                            <div class="text-center"> 
                                <ul>
                                    <li>
                                        <p class="text-justify mr-4 ml-4">
                                            Enviar un main al buzón de expediente incompleto
                                            <b>(cancelcuentaxpe@imcnam.ssmb.com)</b> a cargo de 
                                            César Cabrera para solicitar informes sobre el motivo
                                            de la cancelación y el proceso a seguir para quitar el
                                            estatus de bloqueo.
                                        </p>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col cbordePink mb-2">
                    <div class="row pt-1" style="background-color: #b676b1; color: white;">
                        <div class="row">
                            <p class="text-justify mr-4 ml-4"> 
                                Si... el cliente presenta inconformidad con sus
                                rendimientos o tiene problemas para localizar su saldo
                            </p>
                        </div>
                    </div>
                    <div class="row pt-1">
                        <div class="row">
                            <div class="text-center"> 
                                <ul>
                                    <li>
                                        <p class="text-justify mr-4 ml-4">
                                            Ingresar tu solicitud a través BPM en la literal ACN01 y
                                            elije la sub-literal de acuerdo al tipo de inversión
                                            donde se origina el reclamo; indica a tu cliente No. de 
                                            folio y tiempo de respuesta (42 días.)
                                        </p>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--  -->
            <div class="row">
                <div class="col-3"></div>
                <div class="col">
                    <div class="row">
                        <div class="col cbordeOrange mb-2">
                            <div class="row pt-1" style="background-color: #EF6C00; color: white;">
                                <div class="row">
                                    <p class="text-justify mr-4 ml-4"> 
                                        Si... La cuenta eje está cancelada, hay saldo en la inversión
                                        y se apertura una nueva cuenta o el cliente tiene otra cuenta alterna,
                                        se deberá solicitar el cambio de cuenta eje para inversiones de la siguientes
                                        manera:
                                    </p>
                                </div>
                            </div>
                            <div class="row pt-1">
                                <div class="row">
                                    <div class="text-center"> 
                                        <ul>
                                            <li>
                                                <p class="text-justify mr-4 ml-4">
                                                    Llenar el formato "Solicitud de mantenimiento de datos
                                                    (OR_3_11_26)" disponible en Formatoteca.
                                                </p>
                                            </li>
                                            <li>
                                                <p class="text-justify mr-4 ml-4">
                                                    Enviar formato a la valija 7000, producto 7012, description4841
                                                </p>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row pt-2">
                        <div class="col-sm-12 text-center">
                            <p style="color: red;">¡¡¡NO LO OLVIDES!!!</p>
                        </div>
                    </div>
                </div>
                <div class="col-3"></div>
            </div>
            <div class="row">
                <p class="text-justify">
                    PARA QUE LAS RESPUESTAS SEAN MÁS CLARAS Y EFICIENTES, DEBERÁS INDICAR EN EL CAMPO DE COMENTARIOS EL
                    DETALLE DEL RECLAMO, ESTO NOS PERMITE RECABAR ELEMENTOS DE RESPUESTA EN FORMA OPORTUNA.
                </p>
            </div>
        </div>
        <div class="col-2"></div>
    </div>
</div>