.cbordeRed{
    margin-right: 8px;
    border-radius: 1px;
    border: 1px solid red;
}

.cbordeAqua{
    margin-left: 8px;
    border-radius: 1px;
    border: 1px solid #00BCD4;
}

.cbordeGreen{
    margin-left: 8px;
    border-radius: 1px;
    border: 1px solid #9CCC65;
}

.cbordePink{
    margin-left: 8px;
    border-radius: 1px;
    border: 1px solid #b676b1;
}

.cbordeOrange{
    margin-left: 8px;
    border-radius: 1px;
    border: 1px solid #EF6C00;
}