<!--<router-outlet></router-outlet>-->
<!--<app-portal-proteccion-cobros></app-portal-proteccion-cobros> -->

<!--<app-crear-layout-previo></app-crear-layout-previo> -->

    <router-outlet>
    </router-outlet>

<!-- <app-control-de-rebaja-ycuadre></app-control-de-rebaja-ycuadre> -->

<!-- <app-cobu></app-cobu> -->

<!--<app-control-de-repo></app-control-de-repo>  -->

<!--<app-perfiles></app-perfiles> -->

<!-- <app-control-de-reintentos></app-control-de-reintentos> -->
<!-- <app-control-de-estatus15></app-control-de-estatus15> -->
