
<app-navconfig></app-navconfig>
<div class="row justify-content-center align-items-baseline">
    <img src="../../../../../assets/images/Img/load.PNG" alt="">
    <p class="title-sileder">Carga de Detalle Banner</p>
</div>
<p class="subtitle-slider">Cargador de Recursos del Slider</p>

<div class="row">
    <div class="col-6 row border border-dark align-content-around">
        <div class="row">
            <p class="col-3 label-file"> Cargar de 1er Banner (*.jpg)</p>
            <div class="col container-file">
                <input class="form-control " type="file" id="formFile" accept="image/*">
            </div>
            <div class="load-button">
                <button type="button" class="btn btn-warning label-img" (click)="loadImg(1)">Subir img.1</button>
            </div>
        </div>
    </div>
    <div class="col-6 border border-dark border-left-0 ">
            <div class="row">
                <p class="col-3 label-file"> URL con http://</p>
                <input class="form-control col" type="text">

            </div>
            <div class="row">
                <p class="col-3 label-file">Documento (PDF, Word, Excel):</p>
                <div class="container-file">
                    <input class="form-control col" type="file" id="formFile">
                </div>  

            </div>
            <div class="row justify-content-center">
                <button type="button" class="btn btn-primary label-file" (click)="loadDocument(1)" >Guardar inf. Doc. 1</button>
            </div>    
    </div>
    <div class="col-6 row border border-dark align-content-around border-top-0">
        <div class="row">
            <p class="col-3 label-file"> Cargar de 2do Banner (*.jpg)</p>
            <div class="col container-file">
                <input class="form-control " type="file" id="formFile" accept="image/*">
            </div>
            <div class="load-button">
                <button type="button" class="btn btn-warning label-img" (click)="loadImg(2)">Subir img.2</button>
            </div>
        </div>
    </div>
    <div class="col-6 border border-dark border-left-0 border-top-0">
            <div class="row">
                <p class="col-3 label-file"> URL con http://</p>
                <input class="form-control col" type="text">

            </div>
            <div class="row">
                <p class="col-3 label-file">Documento (PDF, Word, Excel):</p>
                <div class="container-file">
                    <input class="form-control col" type="file" id="formFile">
                </div>

            </div>
            <div class="row justify-content-center">
                <button type="button" class="btn btn-primary label-file" (click)="loadDocument(2)">Guardar inf. Doc. 2</button>
            </div>    
    </div>
    <div class="col-6 row border border-dark align-content-around border-top-0">
        <div class="row">
            <p class="col-3 label-file"> Cargar de 3er Banner (*.jpg)</p>
            <div class="col container-file">
                <input class="form-control " type="file" id="formFile" accept="image/*">
            </div>
            <div class="load-button">
                <button type="button" class="btn btn-warning label-img" (click)="loadImg(3)">Subir img.3</button>
            </div>
        </div>
    </div>
    <div class="col-6 border border-dark border-left-0 border-top-0">
            <div class="row">
                <p class="col-3 label-file"> URL con http://</p>
                <input class="form-control col" type="text" >

            </div>
            <div class="row">
                <p class="col-3 label-file">Documento (PDF, Word, Excel):</p>
                <div class="container-file">
                    <input class="form-control col" type="file" id="formFile">
                </div>  

            </div>
            <div class="row justify-content-center">
                <button type="button" class="btn btn-primary label-file" (click)="loadDocument(3)">Guardar inf. Doc. 3</button>
            </div>    
    </div>
    <div class="col-6 row border border-dark align-content-around border-top-0">
        <div class="row">
            <p class="col-3 label-file"> Cargar de 4to Banner (*.jpg)</p>
            <div class="col container-file">
                <input class="form-control " type="file" id="formFile" accept="image/*">
            </div>
            <div class="load-button">
                <button type="button" class="btn btn-warning label-img" (click)="loadImg(4)">Subir img.4</button>
            </div>
        </div>
    </div>
    <div class="col-6 border border-dark border-left-0 border-top-0">
            <div class="row">
                <p class="col-3 label-file"> URL con http://</p>
                <input class="form-control col" type="text" >

            </div>
            <div class="row">
                <p class="col-3 label-file">Documento (PDF, Word, Excel):</p>
                <div class="container-file">
                    <input class="form-control col" type="file" id="formFile">
                </div>

            </div>
            <div class="row justify-content-center">
                <button type="button" class="btn btn-primary label-file" (click)="loadDocument(4)">Guardar inf. Doc. 3</button>
            </div>    
    </div>

</div>


 