
<form class="container-form z-depth-2 pt-2">
    <h2 class="ml-2">Carga de PDF especial</h2> 
    <hr>
    <div class="row align-items-baseline ">
        <div class="col" style="text-align: center;">
            <input type="file"  id="formFile" accept="pdf/*" style="display: none;">
            <label class="label-file" for="formFile">Selecciona un Archivo...</label>

            <button class="btn btn-success btn-border m-2" style="background-color: deepskyblue !important;" disabled>PDF(3).Pdf</button>
        </div>
        
        <div class="col-3" style="text-align: center;">
            <button class="btn btn-success btn-border m-2" style="background-color: #00c851 !important;">Guardar Archivo</button>
        </div>
    </div>
    
</form>

