<footer class="text-center">
    <div class="container-fluid ">
        <div class="row">
            <div class="col" style="text-align: left;">
                <img class="img-position" style="max-width: 20%;" alt="Citi Banamex" [src]="iconBanco1">
            </div>
            <div class="col" style="text-align: right;">
                <img class="img-position" style="max-width: 10%; padding-right: 2em;" alt="Citi" [src]="iconBanco2">
            </div>
        </div>
    </div>  
</footer>